# db
DB_NAME=raizes_da_terra
DB_USERNAME=postgres
DB_PASSWORD=troque_esta_senha
DB_PORT=5433

# portas expostas no host
API_PORT=8080
WEB_PORT=3000

# compose
APP_NAME=raizes-da-terra-api
UPLOAD_PATH=./uploads
